:root {
    --accent: red;
    --title-color: #d68828;
    --border-width:  5px ;
}

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 25px;
    margin-top: 50px;
    height: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.siteindex main {
    justify-content: center;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    text-align: center;
}

.intro > h1 {
    color: var(--title-color);
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.frontpage-actions {
	margin: 35px;
}

.frontpage-action {
	margin: 0px 10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #ececec;
	color: black;
	width: 153px;
	display: inline-block;
	transition: background-color 0.3s ease-in;
	cursor: pointer;
	border-radius: 37px;
}

.frontpage-action:hover {
	background-color: transparent;
}

.frontpage-action a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}


/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

.navbar {

}

.navbar h1 {
    color: var(--title-color);
    user-select: none;
    cursor: pointer;
}

.navbar h1 a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at bottom of the page*/

.navbar.navbar-default {
    width: 100%;
    height: 40px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(202, 202, 202);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-right {
    font-size: 18px;
}

article {
    font-size: 20px;
    max-width: 800px;
}

.article-header {
    margin-bottom: 10px;
}

.article-title {
    font-size: 32px;
}

.article-title a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.article-time {
    font-size: 14px;
}